.navbar > .dbdown {
    margin: 10px;
    padding: 10px;
}

#navbarSupportedContent{
    padding: 10px 50px;
}

#navbarDropdown {
    padding: 10px 20px;
}

#r-btn {
    padding: 0px 30px !important;
    gap: 20px;
   
}